.search-action {
    display: inline-flex;
    flex-direction: row;
    position: relative;
    min-width: 0px;
    padding: 9px 10px;
    border-radius: 8px;
    margin: 0px;
    border: 0px;
    vertical-align: top;
    max-width: 200px;
    background: rgb(255, 255, 255);
    line-height: 1.35714;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid rgba(214, 197, 197, 0.6);
    align-items: center;
}

.search-action:hover {
    border: 1px solid rgba(27, 22, 22, 0.6);
}

.employee-container {
    box-shadow: rgb(241, 243, 245) 0px 5px 20px;
}

.w-max-table {
    max-width: 1110px;
}
.w-min-table {
    min-width: 700px;
}

.css-rorn0c-MuiTableContainer-root::-webkit-scrollbar {
    border-radius: 0 !important;
    width: 8px !important;
}

.css-rorn0c-MuiTableContainer-root::-webkit-scrollbar-thumb {
    border-radius: 100px !important;
    background-color: rgb(216, 216, 216) !important;
}
.css-rorn0c-MuiTableContainer-root::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0) !important;
}

.css-rorn0c-MuiTableContainer-root::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0) !important;
}
