.sidebar-text {
    color: rgb(0, 106, 220);
}

.bg-active-link {
    background-color: rgb(241, 243, 245) !important;
}

.bg-active-link:hover {
    background-color: #d6edff !important;
}

.sidebar-title {
    color: #006adc !important;
}

.icon-padding {
    padding: 0.725rem;
}

.icon-rounder {
    background-color: #f1f3f5;
}

.icon_active {
    background-color: white;
}

.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root:hover {
    border-radius: 0.75rem !important;
    background-color: rgba(193, 200, 205, 0.08) !important;
}

// configure csstailwind
