.sidebar-text {
    color: rgb(0, 106, 220);
}

.bg-active-link {
    background-color: rgb(241, 243, 245) !important;
}

.bg-active-link:hover {
    background-color: #d6edff !important;
}

.sidebar-title {
    color: #006adc !important;
}

.icon-padding {
    padding: 0.625rem;
}

.icon-rounder {
    background-color: #f1f3f5;
}

.icon_active {
    background-color: white;
}
