.button {
    height: 35px;
    width: 90px;
    border-radius: 4px;
    color: var(--color-white);
    font-size: 1.4rem;
}
.button_2 {
    height: 40px;
    width: 120px;
    border-radius: 4px;
    color: var(--color-white);
    font-size: 1.4rem;
}
.button-primary {
    background-color: black;
}

.button-primary:hover {
    background-color: var(--color-bg-primary);
}

.fixed-header {
    padding-top: 15rem;
}

.wide {
    margin-left: -12px;
    margin-right: -12px;
}
.col-3-1 {
    width: 23.5%;
}

select {
    background-color: transparent;
    border: transparent;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    cursor: pointer;
}

.product-show {
    border: 1px solid var(--color-bg-primary) !important;
}

.e-dlg-center-center,
.e-quick-popup-wrapper.e-device {
    z-index: 1000000 !important;
}

/* ::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(216, 216, 216);
    border-radius: 40px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
} */

.sidebar {
    box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
}
.nav-item,
.navbar {
    z-index: 10000;
}
@media screen and (max-width: 800px) {
    .sidebar {
        z-index: 10000000;
    }
}

.css-dwuj3p-MuiTableCell-root {
    line-height: 1.5rem !important;
    font-size: 1.3rem !important;
    font-family: 'SVN-Sofia Pro Regular', 'Public Sans', sans-serif !important;
    font-weight: 600 !important;
    display: table-cell !important;
    vertical-align: inherit !important;
    color: rgb(17, 24, 28) !important;
    position: sticky !important;
    top: 0px !important;
    z-index: 2 !important;
    border-top-left-radius: 8px !important;
    border: 1px solid white !important;
    width: 36px !important;

    text-align: center !important;
    background-color: rgb(236, 238, 240) !important;
    padding: 6px !important;
}

.css-i02g0k-MuiTableCell-root {
    line-height: 1.5rem !important;
    font-size: 1.3rem !important;
    font-family: 'SVN-Sofia Pro Regular', 'Public Sans', sans-serif !important;
    font-weight: 600 !important;
    display: table-cell !important;
    vertical-align: inherit !important;
    text-align: left !important;
    color: rgb(17, 24, 28) !important;
    position: sticky !important;
    top: 0px !important;
    z-index: 2 !important;
    border: 1px solid white !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    padding: 6px 10px !important;
    background-color: rgb(236, 238, 240) !important;
}

tr {
    background-color: rgb(248, 249, 250) !important;
}

th {
    line-height: 1.5rem !important;
    font-size: 1.3rem !important;
    font-family: 'SVN-Sofia Pro Regular', 'Public Sans', sans-serif !important;
    font-weight: 600 !important;
    display: table-cell !important;
    vertical-align: inherit !important;
    text-align: left !important;
    color: rgb(17, 24, 28) !important;
    position: sticky !important;
    top: 0px !important;
    z-index: 2 !important;
    border: 1px solid white !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    padding: 6px 10px !important;
    background-color: rgb(236, 238, 240) !important;
}

.MuiTableBody-root > tr {
    padding: 6px 10px !important;
    border: 1px solid white !important;
}

.MuiTableCell-root {
    padding: 6px 10px !important;
    border: 1px solid white !important;
    font-size: 13px !important;
}

.css-1ex1afd-MuiTableCell-root {
    border: 1px solid white !important;
}

.css-y8ay40-MuiTableCell-root {
    line-height: 1.5rem !important;
    font-size: 1.3rem !important;
    font-family: 'SVN-Sofia Pro Regular', 'Public Sans', sans-serif !important;
    font-weight: 600 !important;
    display: table-cell !important;
    vertical-align: inherit !important;
    text-align: left !important;
    color: rgb(17, 24, 28) !important;
    position: sticky !important;
    top: 0px !important;
    z-index: 2 !important;
    border: 1px solid white !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    padding: 6px 10px !important;
    background-color: rgb(236, 238, 240) !important;
}

.css-1ex1afd-MuiTableCell-root {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400;
    font-size: 1.2rem !important;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    display: table-cell;
    vertical-align: inherit;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    text-align: left;
    font-weight: 500 !important;
    padding: 0px 12px !important;
    color: rgb(104, 112, 118) !important;
}
.css-177gid-MuiTableCell-root {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 1.3rem !important;
}

/* Table Panigation */

.css-16c50h-MuiInputBase-root-MuiTablePagination-select {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 1.3rem !important;
    font-weight: 500 !important;
}

.css-pdct74-MuiTablePagination-selectLabel {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 1.3rem !important;
    font-weight: 500 !important;
}

.css-levciy-MuiTablePagination-displayedRows {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 1.3rem !important;
    font-weight: 500 !important;
}

/* btn config */

.btn-employee {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    line-height: 1.71429;
    text-transform: capitalize !important;

    border-radius: 6px !important;
    height: 36px;
    font-size: 14px !important;
    padding: 8px 12px !important;
    background-color: rgb(241, 243, 245) !important;
    min-width: 90px !important;
    color: rgba(193, 200, 205, 0.8) !important;
    font-weight: 500;
    font-family: 'SVN-Sofia Pro Regular', 'Public Sans', sans-serif !important;
}

.btn-e-add {
    color: rgb(0, 145, 255) !important;
    background-color: rgb(237, 246, 255) !important;
}

.btn-e-delete {
    color: rgb(229, 72, 77) !important;
    background-color: rgb(255, 239, 239) !important;
    fill: rgb(229, 72, 77) !important;
}

/* configure csstailwind */
/* date picker */

/* benefit Employee Management */
.css-1skkyr1-MuiAutocomplete-root .MuiOutlinedInput-root .MuiAutocomplete-endAdornment {
    margin-top: 4px;
}
.css-1mmoate-MuiFormControl-root-MuiTextField-root {
    margin-top: 0px !important;
}
